{% extends "email/base.html" %}

{% block body %}
<h3> Reset your password </h3>

<p>Someone (hopefully you) asked us to reset your password on appname.</p>
<p>Click the link below to reset your password. </p>

<!-- button -->
<a href="{{link}}">
    <table class="btn-primary" cellpadding="0" cellspacing="0" border="0">
            <tr>
                <td>
                    <a>Reset password</a>
                </td>
            </tr>
    </table>
</a>

<!-- /button -->

<p class="small">Or copy and paste this address into your browser: {{link}}</p>

<p>Wasn't you? Let us know</p>

{% endblock %}