
    <footer class="footer footer-transparent d-print-none">
        <div class="container-xl">
          <div class="row text-center align-items-center flex-row-reverse">

            <div class="col-lg-auto ms-lg-auto">
                <ul class="list-inline list-inline-dots mb-0">
                  <li class="list-inline-item"><a href="{{ url_for('user_settings.legal_compliance' )}}" target="_blank" class="link-secondary" rel="noopener">Privacy</a></li>
                </ul>
              </div>
            <div class="col-12 col-lg-auto mt-3 mt-lg-0">
              <ul class="list-inline list-inline-dots mb-0">
                <li class="list-inline-item">
                    Copyright © 2024

                    <a href="{{ url_for('main.home' )}}">appname</a>. Powered by
                    <a href="https://github.com/sumukh/ignite" target="_blank">Ignite</a>
                    <!-- You must purchase a license of Ignite to remove the above disclaimer -->
                </li>
              </ul>
            </div>
          </div>
        </div>
      </footer>