{% extends "tabler/minimal_base.html" %}
{% from "helpers/_flashes.html" import render_flashes %}
{% from "helpers/_formhelpers.html" import render_field %}

{% block title %}appname Login Example{% endblock %}

{% block body %}
<div class="page page-center">
    <div class="container container-tight py-4">
      <div class="text-center mb-4">
        <a href="." class="navbar-brand navbar-brand-autodark">
            {{ render_flashes() }}
            <img src="{{ url_for('static', filename='public/ignite/ignite-logo@2x.png') }}" class="h-6" >
        </a>
      </div>
      <div class="card card-md">
        <div class="card-body">
          <h2 class="h2 text-center mb-4">Login to your account</h2>
          <form role="form"  action="{{ url_for('auth.login') }}" method="post">
                {{ form.hidden_tag() }}
                {{ render_field(form.email, placeholder='test@example.com') }}
                {{ render_field(form.password, placeholder='Password') }}
                <small class="float-right mb-2">
                    <a href="{{ url_for('auth.request_password_reset') }}"> Help! I forgot my password </a>
                </small>
                <div class="form-footer">
                    <button type="submit" class="btn btn-primary w-100">Sign in</button>
                </div>
            </form>
        </div>
        {% if features.oauth %}
        <div class="hr-text">or</div>
        <div class="text-center mt-4 mb-4">
            <a href="{{ url_for('google.login') }}" class="btn btn-primary btn-block">
                <i class="fa fa-google"></i> Login with Google
            </a>
        </div>
        {% endif %}
      </div>
      <div class="text-center text-secondary mt-3">
        Don't have an account yet? <a href="{{ url_for('auth.signup') }}">Sign Up</a>
    </div>
    </div>
  </div>
</div>
{% include 'tabler/_footer.html' with context %}

{% endblock %}