{% extends "tabler/minimal_base.html" %}
{% from "helpers/_formhelpers.html" import render_field %}

{% block title %}appname Login Example{% endblock %}

{% block body %}
<div class="page page-center">
  <div class="container container-tight py-4">
    <div class="text-center mb-4">
      <a href="." class="navbar-brand navbar-brand-autodark">
          {{ render_flashes() }}
          <img src="{{ url_for('static', filename='public/ignite/ignite-logo@2x.png') }}" class="h-6" >
      </a>
    </div>
    <div class="card card-md">
      <div class="card-body">
        <h2 class="h2 text-center mb-4">Login to your account</h2>
        <form role="form"  action="{{ url_for('auth.login') }}" method="post">
          {{ form.hidden_tag() }}
          {{ render_field(form.email) }}
          {{ render_field(form.password) }}
              <div class="form-footer">
                  <button type="submit" class="btn btn-primary w-100">Submit</button>
              </div>
          </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
