{% extends "tabler/minimal_base.html" %}
{% from "helpers/_formhelpers.html" import render_field %}

{% block title %}appname Login Example{% endblock %}

{% block body %}
<div class="page-single">
    <div class="container">
      <div class="row">
        <div class="col col-login mx-auto">
          <div class="card-body p-6">
            <div class="card-title">Confirm your login in order to procceed</div>
            <form role="form" action="{{ url_for('auth.login') }}" method="post">
                {{ form.hidden_tag() }} {{ render_field(form.email) }} {{ render_field(form.password) }}
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
          </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
