{% extends "tabler/minimal_base.html" %}
{% from "helpers/_formhelpers.html" import render_field %}

{% block title %}appname Reset Password{% endblock %}

{% block body %}
<div class="page page-center">
    <div class="container container-tight py-4">
      <div class="text-center mb-4">
        <a href="." class="navbar-brand navbar-brand-autodark">
            {{ render_flashes() }}
            <img src="{{ url_for('static', filename='public/ignite/ignite-logo@2x.png') }}" class="h-6" >
        </a>
      </div>
      <div class="card card-md">
        <div class="card-body">
          <h2 class="h2 text-center mb-4">Reset your password</h2>
          <form role="form" action="{{ url_for('auth.request_password_reset') }}" method="post">

            {{ form.hidden_tag() }}
            {{ render_field(form.email, placeholder='test@example.com') }}

            <div class="form-footer mt-2">
                <button type="submit" class="btn btn-primary w-100">Send Reset Link</button>
            </div>
        </form>
      </div>

    </div>
    <div class="text-center text-secondary mt-3">
        Actually, I remember my password now? <a href="{{ url_for('auth.login') }}">Log in</a>
    </div>
  </div>
</div>


{% include 'tabler/_footer.html' with context %}

{% endblock %}

