{% extends "tabler/minimal_base.html" %}
{% from "helpers/_formhelpers.html" import render_field %}

{% block title %}appname Login Example{% endblock %}

{% block body %}
<div class="page-single">
    <div class="container">
        <div class="row">
            <div class="col col-login mx-auto">
                <div class="text-center mb-6">
                    {{ render_flashes() }}
                    <img src="{{ url_for('static', filename='public/ignite/ignite-logo@2x.png') }}" class="h-6" alt="Tabler">
                </div>

                <form role="form" class="card" action="{{ url_for('auth.request_password_reset') }}" method="post">

                    <div class="card-body p-6">
                        <div class="card-title">Reset your password </div>
                        {{ form.hidden_tag() }}
                        {{ render_field(form.email, placeholder='test@example.com') }}
                        <div class="form-footer">
                            <button type="submit" class="btn btn-primary btn-block">Send Reset Link</button>
                        </div>
                        <small class="float-right mt-2">
                            <a href="{{ url_for('auth.login') }}"> Actually, I remember my password now </a>
                        </small>

                    </div>
                </form>

            </div>
        </div>
    </div>
</div>
{% include 'tabler/_footer.html' with context %}

{% endblock %}

