{% extends "base.html" %}
{% from "helpers/_formhelpers.html" import render_field %}
{% block title %}Reset Password{% endblock %}

{% block body %}
<h3 class="text-center">Reset your password</h1>
    <div class="row">
        <div class="col-md-4">
        </div>

        <div class="col-md-4">
            <small></small>Enter the email you used to signup for appname</small>
            <hr />
            <form role="form" action="{{ url_for('auth.request_password_reset') }}" method="post">
                {{ form.hidden_tag() }}
                {{ render_field(form.email) }}
                <button type="submit" class="btn btn-primary btn-block">Send Reset Link</button>
            </form>
        </div>
        <div class="col-md-4"></div>
    </div>
    {% endblock %}