{% extends "base.html" %}
{% from "helpers/_formhelpers.html" import render_field %}

{% block title %}appname Signup{% endblock %}

{% block body %}
    <h1 class="text-center">Signup for appname</h1>

    <div class="row">
        <div class="col-md-4">
        </div>

        <div class="col-md-4">
            <form role="form" action="{{ url_for('auth.signup') }}" method="post">
                {{ form.hidden_tag() }}

                {{ render_field(form.email) }}
                {{ render_field(form.password) }}
                {{ render_field(form.confirm) }}

                <button type="submit" class="btn btn-primary">Sign Up</button>
            </form>

        </div>

        <div class="col-md-4"></div>
    </div>
{% endblock %}
