{% extends "base.html" %}
{% block title %}Home{% endblock %}

{% block body %}
    <div class="row">
    <div class="col-md-4">
        <div class="list-group">
            <a class="list-group-item list-group-item-action" href="#list-item-1">User Profile</a>
            <a class="list-group-item list-group-item-action" href="#list-item-2">Other Settings</a>
            <a class="list-group-item list-group-item-action" href="#list-item-2">Billing</a>
        </div>
    </div>
    <div class="col-md-8">
        TODO: Form to change password
    </div>
</div>
{% endblock %}