{% extends "base.html" %}
{% from "helpers/_formhelpers.html" import render_field %}

{% block title %}Settings{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-12">
            <h4 id="list-item-1">Change Password</h4>
            <form role="form" action="{{ url_for('dashboard.change_password') }}" method="post">
                {{ form.hidden_tag() }}

                {{ render_field(form.password) }}
                {{ render_field(form.confirm) }}

                <button type="submit" class="btn btn-primary">Sign Up</button>
        </div>
    </div>
{% endblock %}