@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700');
body {
  font-family: 'Lato', -apple-system, BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
}

.root-container {
    margin-top: 20px;
}

header.masthead {
  position: relative;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding-top: 8rem;
  padding-bottom: 8rem;
}

header.masthead h1 {
    font-size: 2rem;
}

@media (min-width: 768px) {
    header.masthead {
      padding-top: 8rem;
      padding-bottom: 8rem;
    }
      header.masthead h1 {
        font-size: 3rem;
    }
}


.footer {
    bottom: 0px;
}
