@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700');
body {
  font-family: 'Lato', -apple-system, BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
}

.root-container {
    margin-top: 20px;
}

.footer {
    bottom: 0px;
}

