.hero-header {
    height: 175px;
    background-image: linear-gradient(90deg,#1f3152 0,#3e5e83 100%);
}

.hero-text {
    padding-top: 60px;
    font-weight: 400;
    text-align: center;
}

.icon-green {
  color: green;
}

.old-sale-text {
  color: rgb(189, 73, 19);
  text-decoration: line-through;
  text-decoration-color: rgb(189, 73, 19);
}

/* Use our own button (instead of Stripe's native Checkout Button) */
.stripe-button-el { display: none !important; };